= form_with url: amount_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f|
  %h2= " #{@fee_scheme.description}"
  = f.govuk_collection_select :scenario,
    @fee_scheme.scenarios.map { |scenario| [scenario.id, scenario.name] },
    :first,
    :last,
    label: { text: 'Scenario' },
    width: 'one-third'

  - if @fee_scheme.type == "AGFS"
    = f.govuk_collection_select :advocate_type,
      @fee_scheme.advocate_types.map { |advo_type| [advo_type.id, advo_type.name] },
      :first,
      :last,
      label: { text: 'Advocate type' },
      width: 'one-third'

  = f.govuk_collection_select :offence_class,
    @fee_scheme.offence_classes.map { |offence| [offence.id, offence.name] },
    :first,
    :last,
    label: { text: 'Offence class' },
    width: 'one-third'

  = f.govuk_collection_select :fee_type_code,
    @fee_scheme.fee_types.map { |fee_type| [fee_type.code, fee_type.name] },
    :first,
    :last,
    label: { text: 'Fee type' },
    width: 'one-third'

  = f.hidden_field :fee_scheme,
    value: @fee_scheme.id

  - if @fee_scheme.units.present?
    = render partial: 'units', locals: { f: f }

  = f.govuk_submit 'Calculate'

  = govuk_button_link_to('Back', '/', { secondary: true })

